In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
year = ['2017','2018']
place = ['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구']
month = ['1','2','3','4','5','6','7','8','9','10','11','12']

## 기본 DataFrame 불러오기

In [3]:
basic_df = pd.read_csv('basic_dataframe.csv', encoding='cp949')

basic_df.날짜 = basic_df.날짜.map(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
basic_df['년'] = basic_df.날짜.map(lambda x : x.year)
basic_df['월'] = basic_df.날짜.map(lambda x : x.month)
basic_df['일'] = basic_df.날짜.map(lambda x : x.day)
basic_df['날짜'] = basic_df.날짜.map(lambda x : datetime.date(x.year, x.month, x.day))

## 구별_시간별_교통사고수

In [4]:
구별_시간별_교통사고 = pd.DataFrame(columns=['사고번호', '발생일시', '발생요일', '발생시군구', '사고내용', '사망자수', '중상자수', '경상자수',
       '부상신고자수', '사고유형', '법규위반', '노면상태', '기상상태', '도로형태', '가해운전자 차종',
       '가해운전자 성별', '가해운전자 연령', '가해운전자 상해정도', '피해운전자 차종', '피해운전자 성별',
       '피해운전자 연령', '피해운전자 상해정도'])

for y in year:
    for p in place:
        df = pd.read_excel('../원본데이터/교통/구별_시간별_교통사고/{0}/{0}_{1}.xlsx'.format(y,p))
        df['구이름'] = p
        구별_시간별_교통사고 = 구별_시간별_교통사고.append(df)
        
구별_시간별_교통사고 = 구별_시간별_교통사고.reset_index(drop=True)

/home/jongsky/anaconda3/envs/python_3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [5]:
구별_시간별_교통사고.발생일시 = 구별_시간별_교통사고.발생일시.map(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일 %H시"))

구별_시간별_교통사고['년'] = 구별_시간별_교통사고.발생일시.map(lambda x : x.year)
구별_시간별_교통사고['월'] = 구별_시간별_교통사고.발생일시.map(lambda x : x.month)
구별_시간별_교통사고['일'] = 구별_시간별_교통사고.발생일시.map(lambda x : x.day)
구별_시간별_교통사고['시'] = 구별_시간별_교통사고.발생일시.map(lambda x : x.hour)
구별_시간별_교통사고['날짜'] = 구별_시간별_교통사고.발생일시.map(lambda x : datetime.date(x.year, x.month, x.day))

In [6]:
교통사고 = 구별_시간별_교통사고[['날짜','년','월','일','시','구이름','사고번호']].groupby(['날짜','년','월','일','시','구이름']).count().reset_index()
교통사고 = 교통사고.rename(columns={"사고번호":"교통사고수"})

# 교통사고 = 구별_시간별_교통사고[['날짜','년','월','일','시','구이름','기상상태','노면상태','사고번호']].groupby(['날짜','년','월','일','시','구이름','기상상태','노면상태']).count().reset_index()
# 교통사고 = 교통사고.rename(columns={"사고번호":"교통사고수","기상상태":"교통사고_기상상태","노면상태":"교통사고_노면상태"})

In [7]:
교통사고.head()

           날짜     년  월  일  시  구이름  교통사고수
0  2017-01-01  2017  1  1  0  강북구      1
1  2017-01-01  2017  1  1  0  노원구      1
2  2017-01-01  2017  1  1  0  동작구      1
3  2017-01-01  2017  1  1  0  서초구      1
4  2017-01-01  2017  1  1  0  송파구      1

In [8]:
교통사고 = pd.merge(basic_df, 교통사고, how='outer')

교통사고['교통사고수'] = 교통사고['교통사고수'].fillna(0) # 교통사고수 데이터가 없는 경우에는 교통사고가 없는것임으로 0으로 채움

In [9]:
교통사고.head()

           날짜     년  월  일  시  구이름  교통사고수
0  2017-01-01  2017  1  1  0  강남구    0.0
1  2017-01-01  2017  1  1  1  강남구    0.0
2  2017-01-01  2017  1  1  2  강남구    1.0
3  2017-01-01  2017  1  1  3  강남구    2.0
4  2017-01-01  2017  1  1  4  강남구    1.0

In [10]:
교통사고.count()

날짜       438000
년        438000
월        438000
일        438000
시        438000
구이름      438000
교통사고수    438000
dtype: int64

## 구별_시간별_차량통행속도

In [11]:
도로별_시간별_차량통행속도_구없음 = pd.DataFrame(columns=['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'])

도로별_시간별_차량통행속도_구있음 = pd.DataFrame(columns=['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'])

for y in year:
    if int(y) == 2017:
        for m in month:
            if int(m) <= 10:
                df = pd.read_csv('../원본데이터/교통/도로별_시간별_차량통행속도/{0}/{0}년 {1}월 통행속도.csv'.format(y,m), encoding='cp949')[['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
               '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
               '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
               '23시', '24시']]
                print(m, len(df), df.columns, len(df.columns),len(df.도로명.unique()), len(df.링크아이디.unique()))
                도로별_시간별_차량통행속도_구없음 = 도로별_시간별_차량통행속도_구없음.append(df)
                print(len(도로별_시간별_차량통행속도_구없음))
            else:
                df = pd.read_csv('../원본데이터/교통/도로별_시간별_차량통행속도/{0}/{0}년 {1}월 통행속도.csv'.format(y, m), index_col=False)[['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
               '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
               '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
               '23시', '24시']]
                print(m, len(df), df.columns, len(df.columns),len(df.도로명.unique()),len(df.링크아이디.unique()))
                도로별_시간별_차량통행속도_구없음 = 도로별_시간별_차량통행속도_구없음.append(df)
                print(len(도로별_시간별_차량통행속도_구없음))
    else:
        for m in month:
            if int(m)>3:
                df = pd.read_excel('../원본데이터/교통/도로별_시간별_차량통행속도/{0}/{0}년 {1}월 서울시 차량통행속도.xlsx'.format(y,m.zfill(2)))
                print(m, len(df), df.columns, len(df.columns),len(df.도로명.unique()),len(df.링크아이디.unique()), len(df.권역구분.unique()))
                도로별_시간별_차량통행속도_구있음 = 도로별_시간별_차량통행속도_구있음.append(df)
                print(len(도로별_시간별_차량통행속도_구있음))

            else:
                df = pd.read_excel('../원본데이터/교통/도로별_시간별_차량통행속도/{0}/{0}년 {1}월 서울시 차량통행속도.xlsx'.format(y,m.zfill(2)))
                print(m, len(df), df.columns, len(df.columns),len(df.도로명.unique()),len(df.링크아이디.unique()))
                도로별_시간별_차량통행속도_구없음 = 도로별_시간별_차량통행속도_구없음.append(df)
                print(len(도로별_시간별_차량통행속도_구없음))

1 147447 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4764
147447
2 133458 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4780
280905
3 147864 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4775
428769
4 142994 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4776
571763
5 147923 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4777
719686
6 143130 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4777
862816
7 147849 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4778
1010665
8 147879 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4776
1158544
9 143012 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4777
1301556
10 147822 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4777
1449378
11 143112 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 487 4777
1592490
12 147541 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 479 4764
1740031
1 147466 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 478 4761
1887497
2 133153 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 478 4761
2020650
3 147478 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시', '24시'],
      dtype='object') 32 478 4761
2168128
4 141867 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 35 474 4732 25
141867
5 146522 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 35 474 4730 25
288389
6 141801 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 35 474 4730 25
430190
7 146543 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 35 474 4730 25
576733
8 146475 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 36 472 4741 25
723208
9 142165 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 36 472 4741 25
865373
10 146972 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 36 472 4742 25
1012345
11 142260 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 36 472 4742 25
1154605
12 146976 Index(['일자', '요일', '도로명', '링크아이디', '시점명', '종점명', '방향', '거리', '차선수', '기능유형구분',
       '도심/외곽구분', '권역구분', '01시', '02시', '03시', '04시', '05시', '06시', '07시',
       '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object') 36 472 4742 25
1301581

링크아이디와 도로명을 비교하였을 때 링크아이디는 7774개가 없고 도로명은 7757개가 없음
--> 링크아이디로 구를 구함 (없는 링크아이디는 직접 메일로 수신함)

In [12]:
# 도로별_시간별_차량통행속도_구있음['구링크'] = 도로별_시간별_차량통행속도_구있음['링크아이디'].map(lambda x : str(x)[:3])
# 도로별_시간별_차량통행속도_구없음['구링크'] = 도로별_시간별_차량통행속도_구없음['링크아이디'].map(lambda x : str(x)[:3])

# change_구 = {k: g["권역구분"].unique()[0] for k,g in 도로별_시간별_차량통행속도_구있음.groupby("구링크")}

# change_list = []
# not_change_list = []

# for i in 도로별_시간별_차량통행속도_구없음['링크아이디']:
#     try:
#         change_list.append(change_구[i])
#     except:
#         change_list.append('check')
#         not_change_list.append(str(i))

# 도로별_시간별_차량통행속도_구없음['권역구분'] = change_list

In [13]:
링크아이디_28 = pd.read_excel('../원본데이터/교통/도로별_시간별_차량통행속도/링크아이디_28개_회신.xlsx')
링크아이디_28 = 링크아이디_28.set_index('링크아이디')
링크아이디_28 = 링크아이디_28.to_dict()['구이름']

In [14]:
len(링크아이디_28)

28

In [15]:
change_구 = {k: g["권역구분"].unique()[0] for k,g in 도로별_시간별_차량통행속도_구있음.groupby("링크아이디")}

In [16]:
change_list = []
not_change_list = []

for i in 도로별_시간별_차량통행속도_구없음['링크아이디']:
    try:
        change_list.append(change_구[i])
    except:
        try:
            change_list.append(링크아이디_28[i])
        except:
            change_list.append('check')
            not_change_list.append(str(i))
            
도로별_시간별_차량통행속도_구없음['권역구분'] = change_list

# len(not_change_list) #0개
# len(set(not_change_list)) #0개

In [17]:
도로별_시간별_차량통행속도_구없음.권역구분.unique()

array(['강북구', '송파구', '양천구', '강서구', '동작구', '영등포구', '구로구', '금천구', '은평구',
       '마포구', '서대문구', '서초구', '강남구', '용산구', '관악구', '광진구', '성동구', '동대문구',
       '중랑구', '강동구', '노원구', '성북구', '중구', '종로구', '도봉구'], dtype=object)

In [18]:
도로별_시간별_차량통행속도_구없음 = 도로별_시간별_차량통행속도_구없음[['일자','권역구분','도로명','링크아이디', '24시','01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시']]

도로별_시간별_차량통행속도_구있음 = 도로별_시간별_차량통행속도_구있음[['일자','권역구분','도로명', '링크아이디', '24시','01시', '02시',
       '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시',
       '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시',
       '23시']]

도로별_시간별_차량통행속도 = pd.concat([도로별_시간별_차량통행속도_구없음, 도로별_시간별_차량통행속도_구있음])

In [19]:
도로별_시간별_차량통행속도.일자 = 도로별_시간별_차량통행속도.일자.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))

도로별_시간별_차량통행속도['년'] = 도로별_시간별_차량통행속도.일자.map(lambda x : x.year)
도로별_시간별_차량통행속도['월'] = 도로별_시간별_차량통행속도.일자.map(lambda x : x.month)
도로별_시간별_차량통행속도['일'] = 도로별_시간별_차량통행속도.일자.map(lambda x : x.day)
도로별_시간별_차량통행속도['날짜'] = 도로별_시간별_차량통행속도.일자.map(lambda x : datetime.date(x.year, x.month, x.day))
도로별_시간별_차량통행속도 = 도로별_시간별_차량통행속도.rename(columns={"권역구분":"구이름"})
도로별_시간별_차량통행속도 = 도로별_시간별_차량통행속도[도로별_시간별_차량통행속도['구이름'].isin(basic_df.구이름.unique().tolist())]

In [20]:
도로별_시간별_차량통행속도 = 도로별_시간별_차량통행속도[['날짜','년','월','일','구이름', '24시','01시', '02시', '03시', '04시', '05시', '06시',
       '07시', '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시']]
도로별_시간별_차량통행속도 = 도로별_시간별_차량통행속도.groupby(['날짜','년','월','일','구이름']).mean().reset_index()

In [21]:
도로별_시간별_차량통행속도.shape

(18250, 29)

In [22]:
도로별_시간별_차량통행속도.head()

,날짜,년,월,일,구이름,24시,01시,02시,03시,04시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2017-01-01,2017,1,1,강남구,36.298658,34.514040,35.041178,37.128855,38.630438,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859
1,2017-01-01,2017,1,1,강동구,31.357623,31.042717,31.705623,33.191623,34.596906,...,27.151660,27.359508,27.000606,27.441925,26.932917,26.659280,27.497811,28.158679,28.720792,29.336377
2,2017-01-01,2017,1,1,강북구,24.389412,24.016275,22.984608,24.770784,27.059600,...,20.938235,20.851373,20.647059,21.260294,20.972843,21.037400,21.493000,21.967327,23.150600,23.866569
3,2017-01-01,2017,1,1,강서구,33.814923,33.073026,33.105846,34.904021,36.631633,...,29.304974,28.710415,28.313454,27.249948,26.935803,27.913918,29.906598,30.322812,31.257732,32.255000
4,2017-01-01,2017,1,1,관악구,33.933545,32.356545,31.594636,33.558091,35.520727,...,30.154091,29.549636,29.823909,29.391091,29.340455,29.544364,30.256909,30.478000,31.087000,32.085364

In [23]:
차량통행속도 = pd.merge(basic_df, 도로별_시간별_차량통행속도, how='outer')

In [24]:
차량통행속도.head()

,날짜,년,월,일,시,구이름,24시,01시,02시,03시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2017-01-01,2017,1,1,0,강남구,36.298658,34.51404,35.041178,37.128855,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859
1,2017-01-01,2017,1,1,1,강남구,36.298658,34.51404,35.041178,37.128855,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859
2,2017-01-01,2017,1,1,2,강남구,36.298658,34.51404,35.041178,37.128855,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859
3,2017-01-01,2017,1,1,3,강남구,36.298658,34.51404,35.041178,37.128855,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859
4,2017-01-01,2017,1,1,4,강남구,36.298658,34.51404,35.041178,37.128855,...,31.551779,31.760302,31.001879,31.260671,31.227987,31.367685,32.481745,32.623557,33.232416,34.108859

In [25]:
차량통계속도_list = []
for i in range(18250):
    차량통계속도_list.append(차량통행속도.iloc[i*24][6:].values)
    
차량통계속도_list = np.concatenate(차량통계속도_list)

In [26]:
차량통행속도['차량통행속도'] = 차량통계속도_list
차량통행속도 = 차량통행속도[['날짜', '년', '월', '일', '시', '구이름','차량통행속도']]

In [27]:
차량통행속도.head()

           날짜     년  월  일  시  구이름   차량통행속도
0  2017-01-01  2017  1  1  0  강남구  36.2987
1  2017-01-01  2017  1  1  1  강남구   34.514
2  2017-01-01  2017  1  1  2  강남구  35.0412
3  2017-01-01  2017  1  1  3  강남구  37.1289
4  2017-01-01  2017  1  1  4  강남구  38.6304

In [28]:
차량통행속도.count()

날짜        438000
년         438000
월         438000
일         438000
시         438000
구이름       438000
차량통행속도    436675
dtype: int64

## 도로별_시간별_교통량

In [29]:
도로별_시간별_교통량_2017 = pd.DataFrame(columns=['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])

도로별_시간별_교통량_2018 = pd.DataFrame(columns=['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])

for y in year:
    for m in month:
        if int(y) == 2017:
            df = pd.read_excel('../원본데이터/교통/도로별_시간별_교통량/{0}/{1}월 서울시 교통량 조사자료.xlsx'.format(y,m))
            print(m, len(df), df.columns, len(df.columns),len(df.지점번호.unique()))
            도로별_시간별_교통량_2017 = 도로별_시간별_교통량_2017.append(df)
            print(len(도로별_시간별_교통량_2017))
        else:
            df = pd.read_excel('../원본데이터/교통/도로별_시간별_교통량/{0}/{1}월 서울시 교통량 조사자료(최종).xlsx'.format(y,m), sheet_name='{0}년 {1}월'.format(y,m))
            print(m, len(df), df.columns, len(df.columns),len(df.지점번호.unique()))
            도로별_시간별_교통량_2018 = 도로별_시간별_교통량_2018.append(df)
            print(len(도로별_시간별_교통량_2018))

1 8862 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 143
8862
2 8007 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 143
16869
3 8928 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
25797
4 8198 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
33995
5 8880 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
42875
6 8631 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
51506
7 8862 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
60368
8 8928 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
69296
9 8640 Index(['일자', '요일', '지점번호', '지점명', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
77936
10 8928 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
86864
11 8640 Index(['일자', '요일', '지점번호', '지점명', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
95504
12 8928 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 144
104432
1 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
8370
2 7560 Index(['일자', '요일', '지점명', '지점번호', '구분', '방향', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
15930
3 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
24300
4 8100 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
32400
5 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
40770
6 8100 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
48870
7 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
57240
8 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
65610
9 8100 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
73710
10 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
82080
11 8100 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
90180
12 8370 Index(['일자', '요일', '지점명', '지점번호', '방향', '구분', '0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object') 30 135
98550

In [30]:
교통량_지점정보_2017 = pd.read_excel('../원본데이터/교통/도로별_시간별_교통량/교통량 수집시스템 지점변경.xlsx', sheet_name='2017 교통량 지점')
교통량_지점정보_2018 = pd.read_excel('../원본데이터/교통/도로별_시간별_교통량/교통량 수집시스템 지점변경.xlsx', sheet_name='지점변경, 주소확인')

In [31]:
교통량_지점정보_2018= 교통량_지점정보_2018[['지점번호.1','지점명칭.1','Unnamed: 6']][:135].rename(columns={'지점번호.1':'지점번호','지점명칭.1':'지점명칭','Unnamed: 6':'주소'})

교통량_지점정보_2018['주소_list'] = 교통량_지점정보_2018['주소'].map(lambda x : x.split(' '))
교통량_지점정보_2018['구이름'] = 교통량_지점정보_2018['주소_list'].map(lambda x : x[1])

In [32]:
교통량_지점정보_2018.head()

   지점번호         지점명칭                   주소                   주소_list   구이름
0  A-01    성산로(금화터널)   서울시 서대문구 신촌동 1-142   [서울시, 서대문구, 신촌동, 1-142]  서대문구
1  A-02    사직로(사직터널)    서울시 종로구 행촌동 40-20    [서울시, 종로구, 행촌동, 40-20]   종로구
2  A-03  자하문로(자하문터널)     서울시 종로구 청운동 31-9     [서울시, 종로구, 청운동, 31-9]   종로구
3  A-04   대사관로(삼청터널)  서울시 성북구 성북동 330-223  [서울시, 성북구, 성북동, 330-223]   성북구
4  A-05     율곡로(안국역)     서울시 종로구 경운동 90-4     [서울시, 종로구, 경운동, 90-4]   종로구

In [33]:
change_구 = {k: g["구이름"].unique()[0] for k,g in 교통량_지점정보_2018.groupby("지점명칭")}

In [34]:
change_list = []
not_change_list = []

for i in 도로별_시간별_교통량_2018['지점명']:
    try:
        change_list.append(change_구[i])
    except:
        change_list.append('check')
        not_change_list.append(str(i))

도로별_시간별_교통량_2018['구이름'] = change_list
# len(list(set(not_change_list))) # 56개
# len(list(not_change_list)) # 785개

In [35]:
도로별_시간별_교통량_2018 = 도로별_시간별_교통량_2018[도로별_시간별_교통량_2018['구이름'].isin(basic_df.구이름.unique().tolist())]

In [36]:
도로별_시간별_교통량_2018.구이름.unique()

array(['서대문구', '종로구', '성북구', '중구', '용산구', '도봉구', '광진구', '노원구', '중랑구',
       '강동구', '서초구', '송파구', '강남구', '금천구', '구로구', '강서구', '양천구', '은평구',
       '마포구', '영등포구', '성동구', '동작구', '관악구'], dtype=object)

In [37]:
len(도로별_시간별_교통량_2018.구이름.unique())

23

In [38]:
change_list = []
not_change_list = []

for i in 도로별_시간별_교통량_2017['지점명']:
    try:
        change_list.append(change_구[i])
    except:
        change_list.append('check')
        not_change_list.append(str(i))

도로별_시간별_교통량_2017['구이름'] = change_list
# len(list(set(not_change_list))) # 15개
# len(list(not_change_list)) # 10276개

In [39]:
도로별_시간별_교통량_2017 = 도로별_시간별_교통량_2017[도로별_시간별_교통량_2017['구이름'].isin(basic_df.구이름.unique().tolist())]

In [40]:
도로별_시간별_교통량_2017.구이름.unique()

array(['서대문구', '종로구', '성북구', '중구', '용산구', '도봉구', '광진구', '노원구', '중랑구',
       '강동구', '서초구', '송파구', '금천구', '구로구', '강서구', '양천구', '은평구', '마포구',
       '영등포구', '강남구', '성동구', '동작구', '관악구'], dtype=object)

In [41]:
len(도로별_시간별_교통량_2017.구이름.unique())

23

In [42]:
# 교통량_지점정보_2017['주소_list'] = 교통량_지점정보_2017['주소'].map(lambda x : x.split(' '))
# 교통량_지점정보_2017['구이름'] = 교통량_지점정보_2017['주소_list'].map(lambda x : x[1])

In [43]:
# change_구 = {k: g["구이름"].unique()[0] for k,g in 교통량_지점정보_2017.groupby("지점명칭")}

In [44]:
# change_list = []
# not_change_list = []

# for i in 도로별_시간별_교통량_2017['지점명']:
#     try:
#         change_list.append(change_구[i])
#     except:
#         change_list.append('check')
#         not_change_list.append(str(i))

# 도로별_시간별_교통량_2017['구이름'] = change_list
# # len(list(set(not_change_list))) # 1개
# # len(list(not_change_list)) # 56개

In [45]:
# 도로별_시간별_교통량_2017 = 도로별_시간별_교통량_2017[도로별_시간별_교통량_2017['구이름'].isin(basic_df.구이름.unique().tolist())]

In [46]:
# 도로별_시간별_교통량_2017.구이름.unique()

In [47]:
# len(도로별_시간별_교통량_2017.구이름.unique())

In [48]:
도로별_시간별_교통량 = pd.concat([도로별_시간별_교통량_2017,도로별_시간별_교통량_2018])
도로별_시간별_교통량 = 도로별_시간별_교통량.reset_index(drop=True)

In [49]:
도로별_시간별_교통량.일자 = 도로별_시간별_교통량.일자.map(lambda x : datetime.datetime.strptime(str(x), "%Y%m%d"))

도로별_시간별_교통량['년'] = 도로별_시간별_교통량.일자.map(lambda x : x.year)
도로별_시간별_교통량['월'] = 도로별_시간별_교통량.일자.map(lambda x : x.month)
도로별_시간별_교통량['일'] = 도로별_시간별_교통량.일자.map(lambda x : x.day)
도로별_시간별_교통량['날짜'] = 도로별_시간별_교통량.일자.map(lambda x : datetime.date(x.year, x.month, x.day))

In [50]:
도로별_시간별_교통량 = 도로별_시간별_교통량[['날짜','년','월','일','구이름', '0시','1시', '2시', '3시', '4시', '5시', '6시',
       '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시']]

In [51]:
도로별_시간별_교통량.columns

Index(['날짜', '년', '월', '일', '구이름', '0시', '1시', '2시', '3시', '4시', '5시', '6시',
       '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object')

In [52]:
도로별_시간별_교통량.iloc[22711]

날짜     2017-04-01
년            2017
월               4
일               1
구이름           도봉구
0시            659
1시            504
2시            439
3시            373
4시            418
5시            582
6시
7시           1538
8시           1702
9시           1830
10시          1964
11시          2052
12시          2020
13시          1817
14시          1744
15시          1736
16시          1729
17시          1696
18시          1608
19시          1360
20시          1219
21시          1072
22시           903
23시           746
Name: 22711, dtype: object

In [53]:
도로별_시간별_교통량['6시'][22711] = np.nan

In [54]:
도로별_시간별_교통량.iloc[22711]

날짜     2017-04-01
년            2017
월               4
일               1
구이름           도봉구
0시            659
1시            504
2시            439
3시            373
4시            418
5시            582
6시            NaN
7시           1538
8시           1702
9시           1830
10시          1964
11시          2052
12시          2020
13시          1817
14시          1744
15시          1736
16시          1729
17시          1696
18시          1608
19시          1360
20시          1219
21시          1072
22시           903
23시           746
Name: 22711, dtype: object

In [55]:
도로별_시간별_교통량.iloc[22711][11]

nan

In [56]:
float(도로별_시간별_교통량.iloc[22711][11])

nan

In [57]:
도로별_시간별_교통량.dtypes

날짜      object
년        int64
월        int64
일        int64
구이름     object
0시     float64
1시     float64
2시     float64
3시     float64
4시     float64
5시     float64
6시      object
7시     float64
8시     float64
9시     float64
10시    float64
11시    float64
12시    float64
13시    float64
14시    float64
15시    float64
16시    float64
17시    float64
18시    float64
19시    float64
20시    float64
21시    float64
22시    float64
23시    float64
dtype: object

In [58]:
도로별_시간별_교통량['6시'] = 도로별_시간별_교통량['6시'].astype('float')

In [59]:
도로별_시간별_교통량.dtypes

날짜      object
년        int64
월        int64
일        int64
구이름     object
0시     float64
1시     float64
2시     float64
3시     float64
4시     float64
5시     float64
6시     float64
7시     float64
8시     float64
9시     float64
10시    float64
11시    float64
12시    float64
13시    float64
14시    float64
15시    float64
16시    float64
17시    float64
18시    float64
19시    float64
20시    float64
21시    float64
22시    float64
23시    float64
dtype: object

In [60]:
도로별_시간별_교통량 = 도로별_시간별_교통량.groupby(['날짜','년','월','일','구이름']).mean().reset_index()

In [61]:
도로별_시간별_교통량.columns

Index(['날짜', '년', '월', '일', '구이름', '0시', '1시', '2시', '3시', '4시', '5시', '6시',
       '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시',
       '17시', '18시', '19시', '20시', '21시', '22시', '23시'],
      dtype='object')

In [62]:
도로별_시간별_교통량.구이름.unique()

array(['강남구', '강동구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [63]:
len(도로별_시간별_교통량.구이름.unique())

23

In [64]:
교통량 = pd.merge(basic_df, 도로별_시간별_교통량, how='outer')

In [65]:
교통량.head()

,날짜,년,월,일,시,구이름,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2017-01-01,2017,1,1,0,강남구,1708.4,1815.7,1104.1,844.3,...,2939.9,2984.2,2980.9,2851.9,2561.7,2418.7,2543.0,2301.1,1914.7,1356.6
1,2017-01-01,2017,1,1,1,강남구,1708.4,1815.7,1104.1,844.3,...,2939.9,2984.2,2980.9,2851.9,2561.7,2418.7,2543.0,2301.1,1914.7,1356.6
2,2017-01-01,2017,1,1,2,강남구,1708.4,1815.7,1104.1,844.3,...,2939.9,2984.2,2980.9,2851.9,2561.7,2418.7,2543.0,2301.1,1914.7,1356.6
3,2017-01-01,2017,1,1,3,강남구,1708.4,1815.7,1104.1,844.3,...,2939.9,2984.2,2980.9,2851.9,2561.7,2418.7,2543.0,2301.1,1914.7,1356.6
4,2017-01-01,2017,1,1,4,강남구,1708.4,1815.7,1104.1,844.3,...,2939.9,2984.2,2980.9,2851.9,2561.7,2418.7,2543.0,2301.1,1914.7,1356.6

In [66]:
교통량_list = []
for i in range(18250):
    교통량_list.append(교통량.iloc[i*24][6:].values)

In [67]:
교통량_list = np.concatenate(교통량_list)

In [68]:
len(교통량_list)

438000

In [69]:
교통량['교통량'] = 교통량_list

In [70]:
교통량 = 교통량[['날짜', '년', '월', '일', '시', '구이름','교통량']]

## 기본 DataFrame, 구별_시간별_교통사고수, 도로별_시간별_차량통행속도, 도로별_시간별_교통량 데이터 합치기

In [71]:
교통 = pd.merge(교통사고, 차량통행속도, how='outer')
교통 = pd.merge(교통, 교통량, how='outer')

In [72]:
교통.head()

           날짜     년  월  일  시  구이름  교통사고수   차량통행속도     교통량
0  2017-01-01  2017  1  1  0  강남구    0.0  36.2987  1708.4
1  2017-01-01  2017  1  1  1  강남구    0.0   34.514  1815.7
2  2017-01-01  2017  1  1  2  강남구    1.0  35.0412  1104.1
3  2017-01-01  2017  1  1  3  강남구    2.0  37.1289   844.3
4  2017-01-01  2017  1  1  4  강남구    1.0  38.6304   759.3

In [73]:
교통.to_csv('../데이터정리/교통.csv', index=False)

In [ ]:
## 구별_월별_차량통행속도

In [8]:
# 구별_월별_차량통행속도= pd.read_csv('../원본데이터/교통/구별_월별_차량통행속도.csv', encoding='cp949')

In [9]:
# 구별_월별_차량통행속도.일시 = 구별_월별_차량통행속도.일시.map(lambda x : datetime.datetime.strptime(x, "%Y-%m"))
# 구별_월별_차량통행속도['년'] = 구별_월별_차량통행속도.일시.map(lambda x : x.year)
# 구별_월별_차량통행속도['월'] = 구별_월별_차량통행속도.일시.map(lambda x : x.month)

In [10]:
# 구별_월별_차량통행속도.일시 = 구별_월별_차량통행속도.일시.map(lambda x : '{}-{:02d}'.format(x.year,x.month))

In [11]:
# 구별_월별_차량통행속도 = 구별_월별_차량통행속도.rename(columns={'지역':'구이름'})

In [12]:
# 차량통행속도 = 구별_월별_차량통행속도[['일시','년','월','구이름','차량통행속도']]

In [13]:
# 차량통행속도.head()

        일시     년  월  구이름  차량통행속도
0  2017-01  2017  1  종로구    24.0
1  2017-02  2017  2  종로구    23.3
2  2017-03  2017  3  종로구    23.7
3  2017-04  2017  4  종로구    23.5
4  2017-05  2017  5  종로구    23.6

In [14]:
# 차량통행속도.to_csv('구별_월별_차량통행속도', index=False)